<div class= "container">
  <h1> Interpolation Binding</h1>
  <h2>{{ title }}</h2> 
  <!-- <h1> Property Binding </h1>
  <input [value]="buttonText" type="button" class="styled-button"> -->

  <!-- <h1> Attribute Binding </h1>
  <button [attr.aria-lebel]="buttonText" class="styled-button"> {{ buttonText }}</button> -->
<!-- 
  <h1>Class Binding</h1>
  <div [class.active]="isActive" class="status-box">
    Status: {{ isActive ? 'Active' : 'Inactive'}}
  </div> -->
  <!-- <h1> Style Binding</h1>
  <div [style.background-color]="backgroundColor" class="styled-div">
    This div changes color based on component data
  </div> -->
</div>